.constantRadioWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.055);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 150ms;
  border: 2px solid var(--border-divider);
  margin-bottom: 0.8rem;
}

.constantRadioWrapper:hover {
  border: 2px solid var(--primary-color);
}

.constantRadioWrapper.active {
  background-color: var(--primary-color);
  color: var(--white);
}

.paginationWrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.pageButton {
  padding: 1rem 1rem;
  margin-left: 4px;
  font-weight: bold;
  border: 1px solid #ddd;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 100ms;
}

.pageButton:hover {
  filter: brightness(0.95);
}

.pageButton.active {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--light-green);
}

.notFoundText {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}
