.navButton-cadastrar-list {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 38px;
  padding: 0 12px;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.4s;
  cursor: pointer;
}

.navButton-cadastrar-list:hover {
  background-color: white;
  color: var(--primary-color);
}

/* .navButton-voltar-list {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 38px;
  padding: 0 12px;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid #4c6444;
  background-color: #4c6444;
  font-weight: bold;
  transition: all ease 0.4s;
  cursor: pointer;
} */

.navButton-voltar-list {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 38px;
  padding: 0 12px;
  border: 1px solid #b18c69;
  border-radius: 7px;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: #b18c69;
  color: white;
  width: 80px;
  transition: all ease 0.4s;
  cursor: pointer;
  justify-content: center;
}

.navButton-voltar-list:hover {
  background-color: white;
  color: #b18c69;
}

.navButton-voltar-form {
  background-color: #fff;
  color: #b18c69;
  border: 1px solid #b18c69;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  max-width: 8rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.navButton-voltar-form:hover {
  background-color: #b18c69;
  color: white;
}
