.navButton-cadastrar-list {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 38px;
    padding: 0 12px;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid #4C6444;
    background-color: #4C6444;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all ease .4s;
    cursor: pointer;
}

.navButton-voltar-list {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 38px;
    padding: 0 12px;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid #4C6444;
    background-color: #4C6444;
    font-weight: bold;
    transition: all ease .4s;
    cursor: pointer;
}

.navButton-voltar-list {
    background-color: transparent;
    gap: 8px;
    text-decoration: underline;
    font-size: 16px;
    text-decoration: none;
    background-color: #B18C69;
    color: white;
    width: 80px;
    justify-content: center;
}

.navButton-voltar-list:hover {
    /* background-color: red; */
}

.navButton-cadastrar-list button {
    box-sizing: border-box;
    height: 38px;
    background-color: transparent;
    border: 1px solid #4C6444;
    background-color: #4C6444;
    color: white;
    padding: 0 12px;
    font-size: 15px;
    border-radius: 7px;
}

.navButton-cadastrar-list:hover {
    /* background-color: rgba(42, 177, 42); */
}

.navButton-voltar-form {
    background-color: #fff;
    color: #B18C69;
    border: 1px solid #B18C69;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 48%;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.navButton-voltar-form:hover {
    background-color: hsl(0, 2%, 75%);
    color: white;
}