.cropsPage{
    width: 1200px;
    min-height: 70vh;
    height: max-content;
    display: flex;
    flex-direction: column;

}
.titulo-crops{
    text-align: center;
}
.container-button-crops {
    display: flex;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    justify-content: space-between;
    /* background-color: aqua; */
}
.filtro_crops{
    margin: 0 15px 0 0;
}
.list-crops{
    margin: 30px auto;
    width: 90%;
    min-height: 60vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-list{
    
    background-color: rgb(60, 60, 151);
    font-weight: bolder;
    color: white;
    height: 40px;
}
.content-list{
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    background-color: rgba(122, 122, 224, 0.507);
    height: 30px;
    margin-top: 0px;
}

.header-list,
.content-list{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
}
.header-col-name,.result-col-name{
    width: 310px;
    
}
.header-col-cientific-name,
.result-col-cientific-name{
    width: 500px;
}  

.header-col-climate,
.result-col-climate{
    width: 200px;
}  

.header-col-acoes,
.result-col-acoes{
    flex-grow: 1;
    
}