.containerForgot {
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 29rem;
  width: 100%;
  max-width: 40vw;
}

.containerForgot.sentScreen {
  padding: 44px;
  height: 290px;
}

.containerForgot.sentScreen .icon {
  padding: 25px;
}

.contImage {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 5px;
}

.contText {
  flex-direction: column;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
}

.contForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 1.25rem;
  margin-left: 50px;
}

.inputDefaultLabel {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.inputDefaultInput {
  display: flex;
  justify-content: center;
  height: 54px;
  margin-right: 50px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  padding: 8px 10px;
  border-radius: 7px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.contButtons {
  display: flex;
  justify-content: center;
  padding: 30px 50px 0 0;
  gap: 30px;
}

.forgButton {
  font-size: 16px;
  height: 38px;
  padding: 0 56px 0 56px;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid #4c6444;
  background-color: var(--light-green);
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.4s;
  cursor: pointer;
}

.contButtons > button:hover {
  background-color: #6b985d;
}

.cancelButton {
  font-size: 16px;
  height: 38px;
  padding: 0 56px 0 56px;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid hsl(0, 1%, 49%);
  color: hsl(0, 1%, 49%);
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.4s;
  cursor: pointer;
}
.butFeed > button:hover {
  background-color: #000;
}

.contPag {
  display: flex;
  justify-content: center;
  margin: 0px 0 25px 0;
}

.contPag > a {
  color: var(--brown);
  font-weight: bold;
  text-decoration: none;
}

.contFeedback {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 10rem;
  width: 100%;
  max-width: 40vw;
}

.textFeed {
  text-align: center;
}

.butFeed {
  display: flex;
  justify-content: center;
  padding: 15px 5px 5px 5px;
}

.backButton {
  font-size: 16px;
  height: 38px;
  padding: 0 76px 0 76px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid #4c6444;
  background-color: var(--light-green);
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.4s;
  cursor: pointer;
}

.butFeed > button:hover {
  background-color: #6b985d;
}
