.container {
  max-width: 50rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 24px 0px 24px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
  height: 21rem;
  width: 100%;
  line-height: 32px;
}

.p {
  color: #3d423c;
  margin-bottom: 2px;
}

.area {
  display: flex;
  align-items: center;
}

.inputPass {
  height: 54px;
  margin: 8px 0px 12px 0px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-right: none;
  padding: 8px 12px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 14px;
  transition: background-color 0.2s;
  width: 100%;
}

.inputPassLabel {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: bold;
}

.eye {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-left: none;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 8px 0px 12px 0px;
  padding: 8px 12px;
  outline: 0;
  cursor: pointer;
  height: 54px;
}

.input {
  display: flex;
  justify-content: center;
  height: 54px;
  margin: 8px 20px 12px 0px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  padding: 8px 12px;
  border-radius: 7px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.button {
  font-size: 16px;
  height: 38px;
  padding: 0 64px 0 64px;
  margin: 5px 0 0 0;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid #4c6444;
  background-color: var(--light-green);
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.4s;
  cursor: pointer;
}

.contButton > button:hover {
  background-color: #6b985d;
}
