.table-wrapper {
  width: 100%;
  height: 50vh;
  margin-top: 32px;
  max-width: 1200px;
  border-radius: 8px;
  overflow-x: auto;
}

.table-container {
  width: 100% !important;
  border-collapse: collapse;
  white-space: nowrap;
}

.table-container > thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
  background-color: var(--light-green);
  color: var(--white);
}

.table-container th {
  text-align: inherit;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-container th,
.table-container td {
  padding: 0.85rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table-container tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-container td {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.actions-col > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  gap: 0.45rem;
  text-align: center;
}

.actions-col > div > svg {
  cursor: pointer;
}

.actions-col > div > img {
  cursor: pointer;
}

.paginatedWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.pagesWrapper {
  display: flex;
  gap: 12px;
}

.pagesWrapper > button,
.pageNextButton,
.pagePrevButton {
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--brown);
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.2s;
}

.pagesWrapper > button:disabled,
.pageNextButton:disabled,
.pagePrevButton:disabled {
  filter: opacity(0.3);
}

.pagesWrapper > button {
  color: var(--black);
  font-weight: 700;
}

.pageActive {
  color: var(--primary-color) !important;
}

.pagesWrapper > button:hover {
  color: var(--primary-color);
}

.pageNextButton:hover,
.pagePrevButton:hover {
  filter: opacity(0.6);
}

.statusColumnWrapper {
  width: 8rem;
  padding: 0.5rem 0.4rem;
  font-weight: bold;
  border-radius: 0.45rem;
  text-align: center;
}

.statusColumnWrapper.default {
  background-color: var(--text-muted);
  color: var(--white);
}

.statusColumnWrapper.error {
  background-color: var(--danger);
  color: var(--white);
}

.statusColumnWrapper.warning {
  background-color: var(--warning);
  color: var(--white);
}
