.referenceDropdown {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.referenceDropdownRed {
  border: 1.5px solid #c91432;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.toggleButton {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.toggleButton:hover {
  color: var(--white);
  background-color: var(--light-green);
}

.referenceDropdownRed .toggleButton:hover {
  background-color: #c91432;
  color: var(--white);
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  padding: 0;
  opacity: 0;
  background-color: #fff;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.referenceDropdown.open .content {
  max-height: fit-content;
  padding: 12px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.referenceDropdownRed.open .content {
  max-height: fit-content;
  padding: 12px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.environmentGroup {
  margin-bottom: 16px;
}

.characteristicsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 12px;
  margin-bottom: 16px;
}

.characteristicCard {
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #fafafa;
  font-size: 14px;
}

.characteristicCard strong {
  display: block;
  margin-bottom: 4px;
  color: #333;
}

.constantsTitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.constantsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.constantItem {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 14px;
}

.constantItem div {
  margin-bottom: 4px;
}

.editButton {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.4rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s ease;
  margin-bottom: 16px;
  align-self: end;
}

.editButton:hover {
  background-color: var(--light-green)
}

.checkbox {
  width: 1.1rem;
  height: 1.1rem;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  margin-right: 0.8rem;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #c91432;
  border-color: #646464;
}

.checkbox:checked::after {
  content: "⨯";
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}