:root {
  --primary-color: #7f975d;
  --light-green: #80ad6b;
  --text-muted: #6c757d; /* Corrigido */
  --white: #fff;
  --brown: #b18c69;
  --black: #000;
  --border-divider: #eaeaea;
  --warning: #ffbc11;
  --danger: #c91432;
  --info: #4976ba;
  --success: #138636;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 90%;
}

body {
  font-size: 1rem;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

textarea:read-only {
  background-color: #e9ecef;
}