.cont {
  display: flex;
  height: 100%;
  width: 100%;
}

.miniCont {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.contLogo {
  display: flex;
  align-items: center;
}

.miniCont img {
  object-fit: contain;
}

.h1 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.contText {
  flex: 1;
  font-size: 14px;
  text-align: justify;
  padding: 0.5rem;
}

.divButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  font-size: 16px;
  height: 38px;
  width: 100%;
  padding: 0 64px 0 64px;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid #4c6444;
  background-color: var(--light-green);
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.4s;
  cursor: pointer;
}

.divButton > button:hover {
  background-color: #6b985d;
}

.linkButton {
  width: 100%;
}

.logoTitle {
  max-width: 8rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.lista {
  margin-top: 12px;
  margin-left: 16px;
  font-size: 14px;
}

.paragrafo {
  text-align: center;
  margin-top: 12px;
}

@media (max-width: 920px) {
  .cont {
    flex-direction: column;
  }

  .contText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contText p {
    text-align: justify;
    max-width: 40rem;
  }

  .contText li {
    list-style: none;
    font-weight: bold;
  }
}

@media (max-width: 490px) {
  .miniCont img, .miniCont > div img {
    width: 100px;

  }

  .logoTitle {
    display: none;
  }

}
