a {
  text-decoration: none;
  color: black;
}

.modulo-box {
  width: 250px;
  height: 230px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.modulo-box img {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.modulo-box span {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.modulo-box h3 {
  color: var(--light-green);
  font-weight: bold;
  font-size: 1.35rem;
}

.modulo-box:hover {
  transform: translateY(-5px);
}
