a{
    text-decoration: none;
    color: black;
}


.modulo-box{
    width: 240px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 0 20px;
}