h2 {
  color: #80ad6b;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

button {
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  max-width: 8rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.profile-page-container {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.profile-card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 20px;
  width: 100%;
  max-width: 900px;
  min-height: 170px;
  height: min-content;
  margin: 0 auto;
  padding: 24px 24px 30px 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
}

.profile-picture-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.profile-picture {
  position: relative;
  display: inline-block;
}

.profile-info-wrapper {
  display: flex;
  flex-direction: column;
}

.profile-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2rem;
  gap: 10px;
  align-self: center;
}

.edit-icon {
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  padding: 8px;
  border-radius: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  color: #555;
  cursor: pointer;
}

.edit-icon:hover {
  color: var(--primary-color);
}

.form-input-boxReg {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  width: 100%;
  margin-bottom: 20px;
  color: #80ad6b;
}

.button-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 900px;
  margin-top: 1rem;
}

.return-button {
  background-color: white;
  border: 1px solid #b18c69;
  color: #b18c69;
}

.return-button:hover {
  background-color: #b18c69;
  color: white;
}

.leave-button {
  background-color: var(--danger);
  border: 1px solid var(--danger);
  color: white;
}

.leave-button:hover {
  background-color: white;
  color: var(--danger);
}

.update-button {
  max-width: 10rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.update-button:hover {
  background-color: white;
  color: var(--primary-color);
}
