.form-input-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 4px auto;
}

.button-default {
    background-color: rgb(34, 156, 55);
    color: white;
    border: none;
}