.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 20px;
  width: 900px;
  min-height: 170px;
  height: min-content;
  margin: 0 auto;
  padding: 24px 24px 30px 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
}

.form-container h3 {
  color: #80ad6b;
}

.container-2-column {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 32px;
}

.form-input-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.form-input-boxConst {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
  color: #80ad6b;
}

.form-input-boxReg {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
  color: #80ad6b;
}

.form-register {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.form-register a {
  text-decoration: none;
  color: #b18c69;
}

.form-register {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.form-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 32px auto;
}

.form {
  width: 100%;
}

.form-button {
  background-color: #386641;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  height: 36px;
  width: 100px;
  margin: 3px 0;
  transition: all ease 0.4s;
  cursor: pointer;
}

.footer-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 4px auto;
  gap: 16px;
  margin-top: 32px;
}

.footer-formConst {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
  height: 38px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.info-block {
  margin-top: 10px;
}
