.inputDefault-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-bottom: 1.25rem;
}

.inputDefault-label {
  /* margin-bottom: 12px; */
  font-size: 14px;
  font-weight: bold;
}

.inputDefault-input {
  flex: 1;
  height: 54px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  padding: 8px 10px;
  border-radius: 7px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.inputDefault-input:focus {
  border-color: #007bff;
  outline: none;
}

.inputDefault-input:read-only {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.forgot-password {
  text-align: right;
  width: 100%;
  margin-top: 5px;
  font-size: 12px;
}

.forgot-password a {
  color: #757575;
}

.legendWrapper {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.legendWrapper small {
  display: block;
}

.error-wrapper small {
  color: #e63946;
  font-weight: 500;
}