.inputDefault-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

.inputDefault-label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.inputDefault-input {
  height: 54px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  padding: 8px 10px;
  border-radius: 7px;
  font-size: 14px;
}

.inputDefault-input:focus {
  border-color: #007bff;
  outline: none;
}

.forgot-password {
  text-align: right;
  width: 100%;
  margin-top: 5px;
  font-size: 12px;
}

.forgot-password a {
  color: #757575;
}
