.container-button-crops {
  display: flex;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  justify-content: space-between;
  /* background-color: aqua; */
}

.list-constants {
  min-height: 60vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-filtros {
  margin: 24px 0px 24px 0px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}

.container-filtros div {
  padding: 0;
  margin: 0;
}
