
.list-constants{
    margin: 30px auto;
    width: 100%;
    min-height: 60vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-col-type, 
.result-col-type{
    width: 300px;
    
}
.header-col-reference, 
.result-col-reference{
    width: 210px;
} 
.header-col-climate, 
.result-col-climate{
    width: 140px;
} 
.header-col-biome, 
.result-col-biome{
    width: 90px;
} 
.header-col-country, 
.result-col-country{
    width: 90px;
} 

.header-col-irrigation, 
.result-col-irrigation{
    width: 80px;
} 
.header-col-cultivationSystem, 
.result-col-cultivationSystem{
    width: 150px;
} 

.header-col-value, 
.result-col-value{
    width: 70px;
}

.header-col-acoes-constant, 
.result-col-acoes-constant{
    flex-grow: 1;
}